html {
  background-color: white;
}

#boundary_circle {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  stroke-dasharray: 5 2;
}

#btn-new-val {
  transition: 150ms ease-in-out;
  width: 160px;
}

#btn-add_khourglass-val {
  transition: 150ms ease-in-out;
  width: 30px;
}

/* active class allows highlighting on hover, e.g. when choosing
  vertices to move */
.active:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

.vertex {
  stroke: black;
  stroke-width: 2px;
}

.vertex-label {
  font-size: 13px;
}

.hourglass-label {
  font-size: 13px;
  fill: red;
  text-anchor: middle;
}

.edge {
  /*stroke: black;*/
  /*stroke-width: 1px;*/
}

.unfilled {
  fill: white;
}

.filled {
  fill: black;
}
#paper {
  border: 1px solid grey;
}

.face {
  fill: greenyellow;
  opacity: 0.5;
  stroke-width: 2px;
  /* stroke: red; */
}
.face:hover {
  fill: rgb(159, 239, 40);
}
.face:active {
  transition: 150ms ease-in-out;
  fill: rgb(147, 224, 31);
}


.face-label {
  font-size: 13px;
  border-radius: 50%;
  /* NOT WORKING */
  /* width: 20px;
  height: 20px;
  border: 3px solid black; */
}


.selected {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}


.path_1 {
  stroke: #8E3AF6;
  stroke-width: 2px;
}
.path_2 {
  stroke: #FB8E36;
  stroke-width: 2px;
}
.path_3 {
  stroke: #3866fc;
  stroke-width: 2px;
}
