#boundary_circle {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    stroke-dasharray: 5 2;
  }

  .active:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
  }

  .vertex {
    stroke: black;
    stroke-width: 2px;
  }

  .edge {
    stroke: black;
    stroke-width: 1px;
  }

  .unfilled {
    fill: white;
  }

  .filled {
    fill: black;
  }
  #paper {
    border: 1px solid grey;
  }


  .selected {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
  }